<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.gwuah.bibliotek</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/bibliotek</string>
        <string>--config-path</string>
        <string>/Users/gwuah/.config/bibliotek/config.yaml</string>
    </array>

    <key>EnvironmentVariables</key>
    <dict>
        <key>AWS_ACCESS_KEY_ID</key>
        <string>TODO</string>
        <key>AWS_SECRET_ACCESS_KEY</key>
        <string>TODO</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/gwuah/Library/Logs/bibliotek.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/gwuah/Library/Logs/bibliotek.error.log</string>
</dict>
</plist>
